<div class="mdl-cell mdl-cell--12-col">
    <h2>Explained parts</h2>
{{#with result.data.[0]}}
    <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table">
        <thead>
            <th>Rule</th><th>Action</th><th>Type</th><th>Payload</th><th>Explanation</th>
        </thead>
        <tbody>
            {{#each parsed}}
                <tr>
                <td class="ruleText"><pre>{{treatedRule.prefix}}{{type.token}}{{#if payload}}:{{payload}}{{/if}}</pre></td>
                <td>{{treatedRule.name$}}</td>
                    <td>{{type.token}}</td>
                    <td>{{payload}}</td>
                    <td><span class="ruleExplained">{{explained}}</span></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/with}}
</div>